/* Basicselector */
p {
  background-color: rgb(165, 42, 124);
  color: aqua;
  border: 2px solid aqua;
  font-family: cursive;
  padding: 10%;
}
h1 {
  color: rgb(160, 77, 148);
  background-color: aqua;
  padding: 5%;
  font-family: cursive;
  font-style: italic;
}
#second {
  color: beige;
}
.pg {
  background-color: rgb(73, 197, 129);
}

/* Descendant (space) */
section p {
  border-style: dashed;
}
/* Child(>) */
section > p {
  padding: 5%;
}
/* Adjacent(+) */
section + p {
  border-style: dotted;
}
/* Sibling(~) */
section ~ p {
  padding-bottom: 30%;
}
/* Attribute selector */
[href] {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: bold;
  font-style: italic;
}
[href="google.com"] {
  font-size: 50px;
}
/* Pseudo element selector */
p::first-letter {
  color: rgb(0, 2, 144);
  font-size: 30px;
}
/* Pseudo class selector */
a:hover {
  color: brown;
  font-size: 60px;
}
p:nth-child(odd) {
  background-color: rgb(150, 236, 0);
}
