body {
  font-size: 30px;
  margin: 0px;
}
.parent {
  background: blue;
  padding: 10px;
  min-height: 60vh;
  gap: 10px;
  /* padding: 10pxtop 20pxright 30pxbottom 40pxleft; 
  padding: 10pxtop-bottom 20px right-left;*/
  /* flex */
  display: flex;
  flex-wrap: wrap;
  /* to move on the x axis */
  justify-content: space-around;
  /* to move on the y axis */
  align-items: center;
  /* flex-direction: column; */
}
.parent div {
  background: grey;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parent div:nth-child(even) {
  background-color: black;
  color: grey;
}
.item-5 {
  align-self: flex-end;
}
.item-4 {
  order: -1;
}
.item-6 {
  order: -1;
}
.item-3 {
  order: -1;
}
